.bg-super-white { background: #f7f7f7; }
.top-50 { top: 50% }
.link:hover { background: url(/images/line.png) repeat-x left bottom; }
.selfie {  width: 125px;
		border-radius: 100%;
		}
body {
	background: #f7f7f7;
	/*background: #e3e5e8;*/
	font-family: 'Lato', Verdana, Helvetica, sans-serif;;
	font-weight: 300;
	font-size:16px;
    }

.container {
	width: 80%;
	min-height: 200px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	text-align: center;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	background: #FFFFFF;

    }

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
}
p {
	font-weight: 300;
	text-overflow: ellipsis;
  }
a {
  text-decoration: none;
  color: #357edd;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0; 
}
.publ {
	padding-top: 0px;
}
.publ li {
	border: 1px solid #CCC;
	padding: 5px;
	margin: 5px 2px;
	display: inline-block;
}
